<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chan.mybatis_xml.mapper.EmployeeMapper">

    <sql id="base_list">
        id,name,hire_date,dept
    </sql>

    <sql id="base_list_noId">
        name,hire_date,dept
    </sql>

    <select id="getEmpById" resultType="com.chan.mybatis_xml.entities.Employee">
        SELECT
        <include refid="base_list"/>
        from employee where id = #{id}
    </select>

    <insert id="saveEmp">
        INSERT INTO employee(<include refid="base_list_noId"/>)
        values(#{name},#{hireDate},#{dept})
    </insert>

</mapper>